
.gitattributes
AAMToolbox/
cv_test/.vs/cv_test/v15/.suo
*.db
*.ipch
*.filters
*.user
*.log
*.obj
*.tlog
*.idb
*.pdb
*.jpg
label_createsamples/.vs/label_createsamples/v15/.suo
*.ilk
*.exe
*.opendb
*.ipdb
*.enc
opencv/
learnopencv/
PepsiDemo/.vs/opencv_createsamples/v15/.suo
PepsiDemo/.vs/opencv_createsamplesd/v15/.suo
*.iobj
PepsiDemo/info/annotations.txt
PepsiDemo/info_/annotations.txt
PepsiDemo/negative/negatives.txt
PepsiDemo/negatives.txt
PepsiDemo/pepsi.vec
*.mp4
PepsiDemo/Project/.vs/PepsiDemo/v15/.suo
