extended_log=1
detect_type=1
model_file=D:\Dev\svm_train\svm_train\test.model 
input_type=random
input_dir=c:\train\pos
output_dir=c:\train\falsealarms10
#input_file=D:\Dev\PepsiDemo\positive\20170626_204830_r1.jpg
#input_file=D:\Dev\PepsiDemo\negative\20170626_204457.jpg
input_file=D:\Dev\PepsiDemo\coke\20171207_210920_r.jpg 
action=outline
crop_num=7000
winSize=32
scaleFactor=1.2
minNeighbours=0
minSize=10
maxSize=80