# main parameters
image_file=Pepsi_logo_2008_crop2.png
bgfile=background.txt
background_dir=c:\train\hog\neg	# prevails over bgfile
random_bg_file=1
output_dir=c:\train\hog\pos
#info_file=annotations.txt
num_bg_files=3500
num_samples_per_file=3
randomize=1

# transformation parameters
output_type=patch # embed | crop | patch
grayscale=0
bg_color=0	# value | random | transparent
fill_color=transparent	# value | random | transparent
transparent_color_low=0
transparent_color_high=0 
noise_removal=1
maxidev=40
maxxrotangle=0.15
maxyrotangle=1.4
maxzrotangle=0.15
mincylrad=1.4
maxcylrad=5
maxcylincl=0.42
winsize=8
fixed_size=64
maxscale=-1

# light parameters
light_color=1
light_intensity_min=1
light_intensity_max=4
light_dir_dev_max=0.1

# surface parameters
albedo_min=0.4
albedo_max=0.8
ambient=0.1
specular_min=0.3
specular_max=0.7
shininess_min=30
shininess_max=150
