# main parameters
#image_dir=C:\train\objects\cocacola\pet_classic_0.5
image_file=C:\train\objects\pepsi\can_classic_0.33\20180418_153050.png
background_dir=c:\train\neg
random_bg_file=true
output_dir=D:\Dev\label_createsamples\label_createsamples\test
output_dir_bg=D:\Dev\label_createsamples\label_createsamples\test
num_samples=20
num_patches=1
randomize=true

# patch parameters
output_type=crop # crop+patch | embed | crop | patch | nobg
grayscale=false
bg_color=transparent	# value | random | transparent
fill_color=transparent	# value | random | transparent
transparent_color_low=0
transparent_color_high=0 
winsize=8
patch_size=227
min_image_scale=0.75
vary_image_pos=true

# transformation parameters
transformation=plane
noise_removal=true
maxxrotangle=0.15
maxyrotangle=0.2
maxzrotangle=0.15
minradius=5
maxradius=5
maxincl=0.1

# light parameters
use_lighting=false
light_temp_min=2500
light_temp_max=7000
light_intensity_min=1
light_intensity_max=4
light_dir_dev_max=0.1
light_bias_max=0
hue_bias_max=0.15
saturation_bias_max=0.5
value_bias_max=0.5

# surface parameters
albedo_min=0.4
albedo_max=0.8
ambient=0.1
specular_min=0.3
specular_max=0.7
shininess_min=30
shininess_max=150
