model_file_name=test.model
class1=c:\train\hog\pos32\cocacola
class2=c:\train\hog\pos32\pepsi
neg_dir=c:\train\hog\neg_
detector_width=32
detector_height=32
neg_sampling=1
num_samples=4
svm_type=0 # 0--C-SVC, 1--nu-SVC, 2--one-class SVM, 3--epsilon-SVR, 4--nu-SVR
kernel_type=0 # 0--linear, 1--polynomial, 2--radial basis, 3--sigmoid, 4--precompiled
degree=3
gamma=1
coef0=0
cost=1
nu=0.5
loss_epsilon=
cache_size=100
term_epsilon=0.001
shrinking=1
probability_estimates=0
#weight=
